<main>
  <h1>Stock</h1>

  <div>
    <nav>
      <button title="Rafraichir"><fa-icon [icon]="faRedoAlt"></fa-icon></button>
      <button title="Ajouter" routerLink="create">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button title="Supprimer">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
    </nav>
    <table>
      <caption hidden>
        Stock
      </caption>
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="toggle(a)" *ngFor="let a of articleService.articles">
          <td>{{ a.name }}</td>
          <td>{{ a.price }}</td>
          <td>{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
